*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	#font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: header;
}

section{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: section;
}
footer{
	background-color: white;
	grid-area: footer;
}

.headerDiv{
    z-index:1;
    position:fixed;
    width:100vw;
    background-color: black;
    margin-top:0em;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.messageDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100vw:
}

.flexlist{
    padding: 1em 0em;
    background-color: black;
    margin:auto;
}
.flexlist:hover{
	border-top: 5px solid green;
}
.flexlist a{
	text-decoration: none;
	border: none;
	padding: 1em 0em;
}
.flexlist a:hover{
    color:whitesmoke;
	padding: 1em 2em;
}
.active{
    padding: 0.6875em 0em;
    border-top: 5px solid yellow;
    color:gray;
}
.active:hover{
    padding: 1em 0em;
    color:white;
}
.stop{
    padding: 1em 0em;
    background-color: black;
    display:none;
}

a:link {
	text-decoration: none;
}


footer{
	text-align: center;
}
footer p{
	margin: 0 0 0 0;
}


/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	width:100vw;
	grid-template-rows: auto 60vh auto;
	grid-template-areas: 	"header"
				            "section"
				            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{
	.backlayout
	{
		display: grid;
		height: 100vh;
		width:100vw;
		overflow-x: hidden; !important;
		grid-template-rows: auto;
		grid-template-columns: 100vw;
		grid-template-areas: 	"header"
								"section"
								"footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {

	.backlayout{
		display: grid;
		height: 100vh;
		width:100vw;
		overflow-x: hidden; !important;
		grid-template-rows: auto;
		grid-template-columns: 100vw;
		grid-template-areas: 	"header"
								"section"
								"footer";
	}

	.headerDiv{
        z-index:1;
        position:fixed;
        width:100vw;
        background-color: black;
        margin-top:0em;
        border: 1px solid #d9d9d9;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .messageDiv{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100vw:
        height:400px;
    }

    .flexlist{
        padding: 1em 0em;
        background-color: black;
        margin:0;
    }
    .flexlist:hover{
    	border-top: 5px solid green;
    }
    .flexlist a{
    	text-decoration: none;
    	border: none;
    	padding: 1em 1em;
    }
    .flexlist a:hover{
        color:whitesmoke;
    	padding: 1em 2em;
    }
    .active{
        padding: 0.6875em 0em;
        border-top: 5px solid yellow;
        color:gray;
    }
    .active:hover{
        padding: 1em 0em;
        color:white;
    }
    .stop{
        padding: 1em 0em;
        background-color: black;
        display:block;
    }

    a:link {
    	text-decoration: none;
    }


    footer{
    	text-align: center;
    }
    footer p{
    	margin: 0 0 0 0;
    }
}
