*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	#font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: header;
}
section{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: section;
}
aside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: aside;
}
beside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: beside;
}
footer{
	background-color: white;
	grid-area: footer;
}

.headerDiv{
    z-index:1;
    position:fixed;
    width:100%;
    background-color: black;
    margin-top:0em;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.sectionDiv{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}
.codeDiv{
    width:100%;
    height:30vh;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.interviewDiv{
    width:100%;
    height:30vh;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}

a:link{
    text-decoration:none;
}

.flexlist{
    padding: 1em 0em;
    background-color: black;
    margin:auto;
}
.flexlist:hover{
	border-top: 5px solid green;
}
.flexlist a{
	text-decoration: none;
	border: none;
	padding: 1em 0em;
}
.flexlist a:hover{
    color:whitesmoke;
	padding: 1em 2em;
}
.active{
    padding-top: 0.6875em;
    border-top: 5px solid yellow;
    color:gray;
}
.active:hover{
    padding: 1em 0em;
    color:white;
}
.stop{
    padding: 1em 0em;
    background-color: black;
    display:none;
}

footer{
	text-align: center;
	font-size:small;
}
footer p{
	margin: 2em 0 0 0;
}





/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	width:100vw;
	grid-template-rows: 3.2em auto 3.2em;
	grid-template-areas: 	"header"
				            "section"
				            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 720px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 900px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 900px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 1024px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1024px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1200px) {

	.backlayout{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1200px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}

	.headerDiv{
        z-index:1;
        position:fixed;
        width:1200px;
        background-color: black;
        margin-top:0em;
        border: 1px solid #d9d9d9;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .sectionDiv{
        width:100%;
        height:90%;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-evenly;
    }
    .codeDiv{
        width:400px;
        height:500px;
        border:1px solid black;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .interviewDiv{
        width:400px;
        height:500px;
        border: 1px solid black;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }

    a:link{
        text-decoration:none;
    }

    .flexlist{
        padding: 1em 0em;
        background-color: black;
        margin:0;
    }
    .flexlist:hover{
    	border-top: 5px solid green;
    }
    .flexlist a{
    	text-decoration: none;
    	border: none;
    	padding: 1em 1em;
    }
    .flexlist a:hover{
        color:whitesmoke;
    	padding: 1em 2em;
    }
    .active{
        padding: 0.6875em 0em;
        border-top: 5px solid yellow;
        color:gray;
    }
    .active:hover{
        padding: 1em 0em;
        color:white;
    }
    .stop{
        padding: 1em 0em;
        background-color: black;
        display:block;
    }

    footer{
    	text-align: center;
    	font-size:medium;
    }
    footer p{
    	margin: 0 0 0 0;
    }
}

