*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	#font-family: Arial, Helvetica, sans-serif;
}

body{
    background:white;
    height:auto;
}
header{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: header;
}
section{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: section;
}
footer{
	background-color: white;
	grid-area: footer;
}


.headerDiv{
    z-index:1;
    position:fixed;
    width:100%;
    background-color: black;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.message{
    display:flex;
    border: 1px solid black;
    width:100%;
    position:relative;
    height:92%;
    margin-top:3.2em;
}

.memberNameDiv{
    width:100%;
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    height:80vh;
}
.memberNameHide{
    display:none;
}

.inboxDiv{
    height:auto;
    width:100%;
    border-bottom: 1px solid black;
}
.searchDiv{
    height:auto;
    width:100%;
    border-bottom: 1px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.memberMessageDiv{
    width:100%;
    border: 1px solid black;
    display:none;
    height:auto;
}
.messageDivShow{
    display:block;
}

.messageDiv{
    height:auto;
    width:100%;
    border-bottom: 1px solid black;
}


.messages{
    width:100%;
}
.inputDiv{
    border-bottom:1px solid black;
    display:flex;
    flex-direction:row;
}
.messageInput{
    width:100%;
}
.loadMessage{
    height:65vh;
    font-size:small;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}
.textDiv{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    height:auto;
}
.textDiv:focus-within {
    background:cyan;
}
textarea{
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}



.msgimg{
    width:50px;
}


a:link {
	text-decoration: none;
}
.flexlist{
    padding: 1em 0em;
    background-color: black;
    margin:auto;
}
.flexlist:hover{
	border-top: 5px solid green;
}
.flexlist a{
	text-decoration: none;
	border: none;
	padding: 1em 0em;
}
.flexlist a:hover{
    color:whitesmoke;
	padding: 1em 2em;
}
.active{
    padding-top: 0.6875em;
    border-top: 5px solid yellow;
    color:gray;
}
.active:hover{
    padding: 1em 0em;
    color:white;
}
.stop{
    padding: 1em 0em;
    background-color: black;
    display:none;
}
.inputSize{
    height:2em;
    width:100%;
}

.showMemberName{
    width:100%;
    height:auto;
    overflow-x:auto;
    font-size:small;
}

.buttdiv{
    border:1px solid black;
}
.buttclass{
    width:100%;
    min-height:90px;
    height:auto;
}

.unread{
    background: red;
}

.hide{
    display:none;
}
.show{
    width:100%;
    height:auto;
}

.display{
    display:block;
    z-index:1;
    position:fixed;
    border:1px solid black;
    background:cyan;
    height:auto;
    min-width:120px;
    width:auto;
}

#showNames a{
    display:flex;
    width:100%;
    height:2em;
    border:1px solid black;
}
#showNames a:hover{
    background:yellow;
}
    #showMems a{
        display:flex;
        width:100%;
        height:2em;
        border:1px solid black;
    }
    #showMems a:hover{
        background:yellow;
    }


    .flow{
        display:flex;
        flex-direction:column;
        border:1px solid black;
        margin-bottom:5px;
        background: #6b8ee1;
        width:100%;
    }

    .flowright{
        align-items:flex-end;
        justify-content:flex-end;
        background: #d5dff6;
        order:1;
    }

    .imgflow{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .imgright{
        align-items:center;
        justify-content:center;
        order:2;
    }
    .imgstyle{
        max-width:50px;
        width:auto;
        height:auto;
        border-radius: 50%;
        background:cyan;
    }

    .msgflow{
        display:flex;
    }


input{
    border: 1px solid black;
}


footer{
	text-align: center;
	position:relative;
}
footer p{
	margin: 0 0 0 0;
}





/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	width:100vw;
	grid-template-rows: auto;
    overflow-x: hidden; !important;
	grid-template-areas: 	"header"
				            "section"
				            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 720px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 900px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 900px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 1024px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1024px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1200px) {

	.backlayout{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1200px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}

    .headerDiv{
        z-index:1;
        position:fixed;
        width:1200px;
        background-color: black;
        margin-top:0em;
        border: 1px solid #d9d9d9;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
	.memberNameDiv{
        width:30%;
        height:100%;
        border: 1px solid black;
        display:flex;
        flex-direction:column;
    }
    .inboxDiv{
        height:50px;
        width:100%;
        border-bottom: 1px solid black;
    }
    .searchDiv{
        height:50px;
        width:100%;
        border-bottom: 1px solid black;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
    }
    .memberMessageDiv{
        width:50%;
        height:100%;
        border: 1px solid black;
        display:block;
    }
    .messageDiv{
        height:50px;
        width:100%;
        border-bottom: 1px solid black;
    }
    .messages{
        max-height:740px;
        height:100%;
        width:100%;
        background:cyan;
    }
    .inputDiv{
        position:relative;
        border-bottom:1px solid black;
        display:flex;
        flex-direction:row;
    }
    .messageInput{
        width:120px;
    }
    .loadMessage{
        height:70vh;
        background:white;
        font-size:medium;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .textDiv{
        max-height:4em;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        border-top: 1px solid black;
    }



    a:link {
    	text-decoration: none;
    }

    .flexlist{
        padding: 1em 0em;
        background-color: black;
        margin:0;
    }
    .flexlist:hover{
    	border-top: 5px solid green;
    }
    .flexlist a{
    	text-decoration: none;
    	border: none;
    	padding: 1em 1em;
    }
    .flexlist a:hover{
        color:whitesmoke;
    	padding: 1em 2em;
    }
    .active{
        padding: 0.6875em 0em;
        border-top: 5px solid yellow;
        color:gray;
    }
    .active:hover{
        padding: 1em 0em;
        color:white;
    }
    .stop{
        padding: 1em 0em;
        background-color: black;
        display:block;
    }
    .inputSize{
        width:auto;
        height:auto;
    }


    .showMemberName{
        width:100%;
        height:700px;
        overflow-y:auto;
    }

    .buttdiv{
        border:1px solid black;
    }
    .buttclass{
        width:100%;
        height:100px;
    }

    .message{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        #align-items:flex-end;
        background:white;
        border: 1px solid black;
        width:100%;
        height:800px;
        position:relative;
        margin-top: 4em;
    }

    .unread{
        background: red;
    }

    .hide{
        display:none;
    }
    .show{
        position:relative;
        width:100%;
        height:auto;
    }

    .display{
        display:block;
        z-index:1;
        border:1px solid black;
        background:cyan;
        width:auto;
        height:auto;
    }

    #showNames a{
        display:flex;
        width:100%;
        border:none;
    }
    #showNames a:hover{
        background:yellow;
    }

    #showMems a{
        display:flex;
        width:100%;
        border:none;
    }
    #showMems a:hover{
        background:yellow;
    }

    .flow{
        display:flex;
        flex-direction:column;
        border:1px solid black;
        margin-bottom:5px;
        background: #6b8ee1;
    }

    .flowright{
        align-items:flex-end;
        justify-content:flex-end;
        background: #d5dff6;
        order:1;
    }

    .imgflow{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .imgright{
        align-items:center;
        justify-content:center;
        order:2;
    }
    .imgstyle{
        max-width:50px;
        width:auto;
        height:auto;
        border-radius: 50%;
        background:cyan;
    }

    .msgflow{
        display:flex;
    }



    input{
        border: 1px solid black;
    }


    footer{
    	text-align: center;
    }
    footer p{
    	margin: 0 0 0 0;
    }
}

