*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	#font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: header;
}
section{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: section;
}
aside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: aside;
}
beside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: beside;
}
footer{
	background-color: white;
	grid-area: footer;
}


a:link {
	text-decoration: none;
}

.flexlist{
    padding: 1em 0em;
    background-color: black;
}
.flexlist:hover{
	border-top: 5px solid green;
}
.flexlist a{
	text-decoration: none;
	border: none;
	padding: 1em 1em;
}
.flexlist a:hover{
    color:whitesmoke;
	padding: 1em 2em;
}
.active{
    padding: 0.6875em 0em;
    border-top: 5px solid yellow;
    color:gray;
}
.active:hover{
    padding: 1em 0em;
    color:white;
}
.stop{
    padding: 1em 0em;
    background-color: black;
}


.showMemberName{
    width:100%;
    height:700px;
    overflow-x:auto;
}

.buttdiv{
    border:1px solid black;
}
.buttclass{
    width:100%;
    height:100px;
}

.message{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    #align-items:flex-end;
    background:white;
    border: 1px solid black;
    width:100%;
    height:800px;
    position:relative;
    margin-top: 4em;
}

.hide{
    display:none;
}
.show{
    width:100%;
    height:auto;
}


.flow{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    margin-bottom:5px;
}


input{
    border: 1px solid black;
}


footer{
	text-align: center;
}
footer p{
	margin: 0 0 0 0;
}





/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	height:100vh;
	width:100vw;
	grid-template-areas: 	"header"
				            "aside"
				            "beside"
				            "section"
				            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 720px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 900px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 900px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

@media only screen and (min-width: 1024px)
{

	.backlayout
	{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1024px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1200px) {

	.backlayout{
		display: grid;
		overflow-x: hidden; !important;
		height:100vh;
		width:100vw;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: auto 1200px auto;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

