*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    background:whitesmoke;
}
rightheader{
	background-color: white;
	grid-area: rightheader;
}
leftheader{
	background-color: white;
	grid-area: leftheader;
}
section{
	background-color: white;
	grid-area: section;
}
aside{
	background-color: white;
	grid-area: aside;
}
footer{
	background-color: whitesmoke;
	grid-area: footer;
}

.flexit{
	display: flex;
	background-color: white;
	font-size: 1.2em;
	padding:10px;
	width: 100%;
	justify-content:center;
	align-items:center;
}
.left{
	background-color: white;
	text-shadow: 1px 1px black;
	color: black;
	padding: 0 0.2em;
}
.right{
	box-shadow: 0 0 5px black;
	background-color: black;
	color: white;
	padding: 0 0.2em;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.list {
	display: none;
	margin: 1em 5em 0 0em;
	font-size: 200%;
	float: right;
}
.list ul li{
	padding: 0.2em 0.5em;
	list-style: none;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
}



.flextoo{
	display: none;
}


#details{
	#background-color: yellow;
	#box-shadow: 0px 0px 10px #aa9dc8;
	border: 1px solid black;
	border-radius: 5px;
	width: 90%;
    margin: 2em auto 2em auto;
	height: auto;
}
.expand *{
	margin: 0.2em 2%;
	border: 1px solid #c5cdec;
	border-radius: 10px;
	padding: 0.6em 0.2em;
	font-size: 100%;
	width: 96%;
}
.rempad *{
    padding: 0.2em 0.2em;
}


.expand h1{
	border: none;
	border-bottom: 1px solid black;
}
.expand h2{
	border: none;
	text-align: center;
	font-size: 1.2em;
}
.expand h4{
	border: none;
	text-align: center;
}

.sub{
	background-color: #8b9bc1;
	color: white;
}
.sub:hover{
	background-color: #7487b4;
}
.padded{
	width: 96%;
	margin: 0.5em 2%;
}


.block{
	display: none;
}

a, a:link{
	text-decoration: none;
	border: none;
	color: magenta;
}
a:hover{
	color: red;
}


footer{
	text-align: center;
	font-size:small;
}
footer p{
	margin: 0 0 0 0;
}




/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	width: 100vw;
	grid-template-rows: auto auto auto;
	grid-template-areas: 				"leftheader"
							            "section"
							            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{

	.backlayout
	{
		display: grid;
		height: 100vh;
		width: 100vw;
		grid-template-rows: 15vh 5vh 75vh 5vh;
		grid-template-columns: 50vw 50vw;
		grid-template-areas: 				"leftheader rightheader"
		                                            "aside aside"
								                    "section section"
								                    "footer footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {

	.backlayout{
		display: grid;
		height: 100vh;
		width: 100vw;
		grid-template-rows: 15vh 5vh 75vh 5vh;
		grid-template-columns: 50vw 50vw;
		grid-template-areas: 				"leftheader rightheader"
		                                            "aside aside"
								                    "section section"
								                    "footer footer";
	}

	rightheader{
    	background-color: whitesmoke;
    	grid-area: rightheader;
    }
    leftheader{
    	background-color: whitesmoke;
    	grid-area: leftheader;
    }
    section{
    	background-color: whitesmoke;
    	grid-area: section;
    }
    aside{
    	background-color: whitesmoke;
    	grid-area: aside;
    }
    footer{
    	background-color: white;
    	grid-area: footer;
    }

	.flexit{
    	display: flex;
    	background-color: whitesmoke;
    	font-size: 1.5em;
    	float: right;
    	width: auto;
    	min-width: 420px;
    	margin-right: 0.5em;
    	margin-top: 1em;
    }
    .left{
    	background-color: whitesmoke;
    	text-shadow: 1px 1px black;
    	color: black;
    	padding: 0 0.2em;
    }
    .right{
    	box-shadow: 0 0 5px black;
    	background-color: black;
    	color: white;
    	padding: 0 0.2em;
    	border-top-left-radius: 5px;
    	border-bottom-right-radius: 5px;
    }


    .list {
    	display: none;
    }
    .flextoo{
    	display: none;
    }


    #details{
    	background-color: white;
    	box-shadow: 0px 0px 10px #aa9dc8;
    	border-radius: 5px;
    	border:none;
    	width: auto;
    	max-width: 420px;
    	max-height: 400px;
    	height: auto;
    	margin-top: 2em;
    	margin-left: 40%;
    	padding:20px;
    }
    .expand *{
    	margin: 0.2em 2%;
    	border: 1px solid #c5cdec;
    	border-radius: 10px;
    	padding: 0.6em 0.2em;
    	font-size: 100%;
    	width: 96%;
    }
    .rempad *{
        padding: 0.2em 0.2em;
    }


    .expand h1{
    	border: none;
    	border-bottom: 1px solid black;
    }
    .expand h2{
    	border: none;
    	text-align: center;
    	font-size: 2em;
    }
    .expand h4{
    	border: none;
    	text-align: center;
    }

    .sub{
    	background-color: #8b9bc1;
    	color: white;
    }
    .sub:hover{
    	background-color: #7487b4;
    }
    .padded{
    	width: 96%;
    	margin: 0.5em 2%;
    }


    .block{
    	display: none;
    }



    a, a:link{
    	text-decoration: none;
    	border: none;
    	color: magenta;
    }
    a:hover{
    	color: red;
    }


    footer{
    	text-align: center;
    }
    footer p{
    	margin: 1% 0 0 0;
    }
}