*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	#font-family: Arial, Helvetica, sans-serif;
}
header{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: header;
}

section{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: section;
}

aside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: aside;
}

beside{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: beside;
}

footer{
	background-color: white;
	grid-area: footer;
}


.headerDiv{
    z-index:1;
    position:fixed;
    width:100%;
    background-color: black;
    margin-top:0em;
    display:flex;
    flex-direction:row;
    justify-content: center;
    position:fixed;
}
.emptyProj{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:1em auto 0 auto;;
    height:50vh;
    width:100%;
    border:1px solid black;
}
.projItem{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
}

.mainDiv{
    display:flex;
    flex-direction:column;
    margin-bottom:0em;
    height:auto;
}
.detailDiv{
    z-index:0;
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    margin:1em 0 1em 0;
}
.details{
    width:100%;
    height:auto;
    padding:10px 0;
    display:flex;
    flex-direction:column;
    background-color: black;
    color:white;
    border-radius: 10px;
    border:1px solid white;
}
.detailsTitle{
    border:none;
    border-bottom:1px solid black;
    border-radius:0px;
}
.videoDiv{
    width:100%;
    height:auto;
    padding:10px 0;
    background-color:black;
    border-radius:10px;
    border:1px solid #d9d9d9;
}


a:link {
	text-decoration: none;
}
.flexlist{
    padding: 1em 0em;
    background-color: black;
    margin:auto;
}
.flexlist:hover{
	border-top: 5px solid green;
}
.flexlist a{
	text-decoration: none;
	border: none;
	padding: 1em 0em;
}
.flexlist a:hover{
    color:whitesmoke;
	padding: 1em 2em;
}
.active{
    padding-top: 0.6875em;
    border-top: 5px solid yellow;
    color:gray;
}
.active:hover{
    padding: 1em 0em;
    color:white;
}
.stop{
    padding: 1em 0em;
    background-color: black;
    display:none;
}


.project{
    border: 1px solid white;
    width: 80%;
    margin: 2% auto;
    border-radius: 5px;
}
.project:first-child:hover{
    background:inherit;
}
.project:hover{
    background:pink;
}

.proj{
    z-index:0;
    width:80%;
    height:auto;
    border:1px solid #bec2bc;
    background:white;
    margin:4em auto 0 auto;
    position:relative;
}
.proj button{
    background: #59f91f;
}
.proj button:hover{
    background: #39c705;
}
.projdrop{
    z-index:0;
    width:80%;
    height:auto;
    border:1px solid #bec2bc;
    background:white;
    margin: 0em auto 0 auto;
    padding: 10px 0;
}
.projdrop button:hover{
    background-color: pink;
}

.hide{
    display:none;
}

#addProject{
    display:flex;
    flex-direction:column;
    height:auto;
}
.exempt{
    width: 80%;
    margin: 0.5em auto;
    border:1px solid #c5cdec;
}

.dropSelect{
    border:1px solid black;
    display:flex;
    flex-direction:row;
}


footer{
	text-align: center;
}
footer p{
	margin: 0 0 0 0;
}




/* Show section before nav on mobile */
.backlayout
{
	display: grid;
	height: auto;
	width:100vw;
	overflow-x:hidden; !important;
	grid-template-areas: 	"header"
				            "aside"
				            "section"
				            "footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px)
{

	.backlayout
	{
		display: grid;
		height: 100vh;
		width:100vw;
		overflow-x: hidden; !important;
		grid-template-rows: auto auto 4vh;
		grid-template-columns: 20vw 60vw 20vw;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {

	.backlayout{
		display: grid;
		height: 100vh;
		width:100vw;
		overflow-x: hidden; !important;
		grid-template-rows: 4vh auto 4vh;
		grid-template-columns: 20vw 60vw 20vw;
		grid-template-areas: 	"aside header beside"
								"aside section beside"
								"footer footer footer";
	}

    .headerDiv{
        z-index:1;
        position:fixed;
        width:60vw;
        background-color: black;
        margin-top:0em;
        border: 1px solid #d9d9d9;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .emptyProj{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:1em;
        height:400px;
        border:1px solid black;
    }
    .projItem{
        width:60vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:100%;
    }

    .mainDiv{
        display:flex;
        flex-direction:column;
        margin-bottom:1em;
        height:auto;
    }
    .detailDiv{
        z-index:0;
        width:60vw;
        height:420px;
        display:flex;
        flex-direction:row;
        margin:2em 0 0 0;
    }
    .details{
        width:400px;
        height:400px;
        height:auto;
        padding:10px 0;
        display:flex;
        flex-direction:column;
        background-color: black;
        color:white;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
    }
    .detailsTitle{
        border:none;
        border-bottom:1px solid black;
        border-radius:0px;
    }
    .videoDiv{
        width:800px;
        height:400px;
        height:auto;
        padding:10px 0;
        background-color:black;
        border-radius:10px;
        border:1px solid #d9d9d9;
    }


    a:link {
    	text-decoration: none;
    }
    .flexlist{
        padding: 1em 0em;
        background-color: black;
        margin:0;
    }
    .flexlist:hover{
    	border-top: 5px solid green;
    }
    .flexlist a{
    	text-decoration: none;
    	border: none;
    	padding: 1em 1em;
    }
    .flexlist a:hover{
        color:whitesmoke;
    	padding: 1em 2em;
    }
    .active{
        padding: 0.6875em 0em;
        border-top: 5px solid yellow;
        color:gray;
    }
    .active:hover{
        padding: 1em 0em;
        color:white;
    }
    .stop{
        padding: 1em 0em;
        background-color: black;
        display:block;
    }


    .project{
        border: 1px solid white;
        width: 80%;
        margin: 2% auto;
        border-radius: 5px;
    }
    .project:first-child:hover{
        background:inherit;
    }
    .project:hover{
        background:pink;
    }

    .proj{
        z-index:0;
        width:400px;
        height:auto;
        border:1px solid #bec2bc;
        background:white;
        margin:2em auto 0 auto;
    }
    .proj button{
        background: #59f91f;
    }
    .proj button:hover{
        background: #39c705;
    }
    .projdrop{
        z-index:0;
        width:400px;
        height:auto;
        border:1px solid #bec2bc;
        background:white;
        margin:0em auto 0 auto;
        padding: 10px 0;
    }
    .projdrop button:hover{
        background-color: pink;
    }

    .hide{
        display:none;
    }

    #addProject{
        display:flex;
        flex-direction:column;
        height:auto;
    }
    .exempt{
        width: 80%;
        margin: 0.5em auto;
        border:1px solid #c5cdec;
    }

    .dropSelect{
        border:1px solid black;
        display:flex;
        flex-direction:row;
    }


    footer{
    	text-align: center;
    }
    footer p{
    	margin: 0 0 0 0;
    }

}



