<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsHub</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<form action="#" th:object="${member}" th:action="@{/saveMessage}" method="post" class="hide" id="myText" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Edit Personal Information</h3>
        <button class="formbtn" type="button" style="float:right; padding: 0.2em 0.4em; height:100%; margin-right:2em;" onclick="closeForm()">Exit</button>
    </div>
    <br>
    <h6 style="width: 80%; margin:0 auto;">* Indicates required</h6>
    <br>
    <p style="width: 80%; margin:0 auto;"> This field should contain any information you would like possible employers to know.<br>Ensure to give proper information as this could help with getting interviews quicker.</p>
    <br>
    <textarea th:field="*{message}" style="border-radius:5px; height:200px; width: 80%; margin:0 auto; border: 1px solid black;"></textarea>
    <br>
    <button class="formbtn" type="submit" value="submit" style="float:right; padding:0.5em; width:100px; margin: 0 auto; border-radius:50px;">Save</button>
</form>


<form action="#" th:object="${education}" th:action="@{/saveEducation}" method="post" class="hide" id="eduform">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add education information</h3>
        <button class="formbtn closebtn" type="button" onclick="closeEducationForm();">Exit</button>
    </div>
    <div class="forminfo">
        <h6> * Indicates required</h6>
        <p>Enter details</p>
        <input th:field="*{universityLocation}" type="text" name="place" placeholder="Enter school location" autocomplete="on">
        <input th:field="*{yearStarted}" type="text" name="yearstart" placeholder="Years started" autocomplete="on">
        <input th:field="*{yearEnded}" type="text" name="yearend" placeholder="Years ended" autocomplete="on">
        <input th:field="*{courseStudied}" type="text" name="year" placeholder="Course studied" autocomplete="on">
        <input th:field="*{degreeLevel}" type="text" name="degree" placeholder="Degree level" autocomplete="on">
        <input th:field="*{resultsAchieved}" type="text" name="degree" placeholder="Results Achieved" autocomplete="on">
        <button class="formbtn formButtons" type="submit" value="submit">Save</button>
    </div>
</form>
<form action="#" th:if="${!member.education.isEmpty()}" th:each="education : ${member.getEducation()}" th:action="@{/editEducation}" method="post" th:id="${education}" class="hide" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add education information</h3>
        <button class="formbtn closebtn" type="button" th:data-longDescription="${education}" onclick="closeEditForm(this.getAttribute('data-longDescription'));">Exit</button>
    </div>
    <div class="forminfo editforms">
        <h6> * Indicates required</h6>
        <p >Enter details</p>
        <input type="hidden" th:field="*{education.id}" th:id="${education.id}">
        <input type="text" th:field="*{education.universityLocation}" th:id="${education.universityLocation}+'-'+${education.id}">
        <input type="text" th:field="*{education.yearStarted}" th:id="${education.yearStarted}+'-'+${education.id}">
        <input type="text" th:field="*{education.yearEnded}" th:id="${education.yearEnded}+'-'+${education.id}">
        <input type="text" th:field="*{education.courseStudied}" th:id="${education.courseStudied}+'-'+${education.id}">
        <input type="text" th:field="*{education.degreeLevel}" th:id="${education.degreeLevel}+'-'+${education.id}">
        <input type="text" th:field="*{education.resultsAchieved}" th:id="${education.resultsAchieved}+'-'+${education.id}">
        <button class="formbtn formButtons" type="submit" value="submit">Save</button>
    </div>
</form>


<form action="#" th:object="${newExperience}" th:action="@{/saveExperience}" method="post" class="hide" id="expform" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add Previous Experience</h3>
        <button class="formbtn closebtn" type="button" onclick="closeExperienceForm();">Exit</button>
    </div>
    <div class="forminfo">
        <h6> * Indicates required</h6>
        <p>Enter details</p>
        <input th:field="*{companyName}" type="text" name="company" placeholder="Enter company name">
        <input th:field="*{jobTitle}" type="text" name="position" placeholder="Enter position">
        <input th:field="*{yearStarted}" type="text" name="yearstart" placeholder="Years started">
        <input th:field="*{yearEnded}" type="text" name="yearend" placeholder="Years ended">
        <input th:field="*{location}" type="text" name="location" placeholder="Enter location of company">
        <button class="formbtn formButtons" type="submit" value="submit">Save</button>
    </div>
</form>
<form action="#" th:if="${!member.experiences.isEmpty()}" th:each="experience : ${member.getExperiences()}" th:action="@{/editExperience}" method="post" th:id="${experience}" class="hide" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add experience information</h3>
        <button class="formbtn closebtn" type="button" style="float:right; padding: 0.2em 0.4em; height:100%; margin-right:2em;" th:data-longDescription="${experience}" onclick="closeEditForm(this.getAttribute('data-longDescription'));">Exit</button>
    </div>
    <div class="forminfo editforms">
        <h6>* Indicates required</h6>
        <p>Enter details</p>
        <input type="hidden" th:field="*{experience.id}" th:id="${experience.id}">
        <input type="text" th:field="*{experience.companyName}" th:id="${experience.companyName}+'-'+${experience.id}">
        <input type="text" th:field="*{experience.jobTitle}" th:id="${experience.jobTitle}+'-'+${experience.id}">
        <input type="text" th:field="*{experience.yearStarted}" th:id="${experience.yearStarted}+'-'+${experience.id}">
        <input type="text" th:field="*{experience.yearEnded}" th:id="${experience.yearEnded}+'-'+${experience.id}">
        <input type="text" th:field="*{experience.location}" th:id="${experience.location}+'-'+${experience.id}">
        <button class="formbtn formButtons" type="submit" value="submit">Save</button>
    </div>
</form>

<form action="#" th:action="@{/add/languages}" th:object="${pl}" method="post" class="hide" id="langForm" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add Languages</h3>
        <button class="formbtn" type="button" style="float:right; padding: 0.2em 0.4em; height:100%; margin-right:2em;" th:data-longDescription="${experience}" onclick="closeLanguageForm(this.getAttribute('data-longDescription'));">Exit</button>
    </div>
    <br>
    <h6 style="width: 80%; margin:0 auto;">* Indicates required</h6>
    <br>
    <p style="width: 80%; margin:0 auto;">Enter details</p>
    <br>
    <div style="display:flex; flex-direction:row; width: 100%; margin:1em auto; align-items:center; justify-content:center;">
        <div>
            <div autocomplete="off">
                <input autocomplete="off" style="width:140px;" type="search" name="search" id="plang">
            </div>
            <div id="showLang" class="hide">

            </div>
        </div>
        <div>
            <input id="expYear" style="width:140px;" type="search" placeholder="Years experience">
        </div>
    </div>
    <button class="formbtn" type="button" onclick="addLanguage('plang', 'expYear', 'addLanguage')" style="float:right; padding:0.25em; width:100px; margin: 0 auto; border-radius:50px;">Add</button>
    <div style="width:80%; height:auto; margin:1em auto; display:flex; flex-direction:row; gap:5px; flex-wrap:wrap;" id="addLanguage">

    </div>
    <input id="langtext" type="text" th:field="*{language}">
    <input id="langyear" type="text" th:field="*{yearsExperience}">
    <button class="formbtn" type="submit" value="submit" style="float:right; padding:0.5em; width:100px; margin: 0 auto; border-radius:50px;">Save</button>
</form>

<form action="#" th:action="@{/addSkills}" method="post" class="hide" id="skillform" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Add skills</h3>
        <button class="formbtn" type="button" style="float:right; padding: 0.2em 0.4em; height:100%; margin-right:2em;" th:data-longDescription="${experience}" onclick="closeSkillsForm(this.getAttribute('data-longDescription'));">Exit</button>
    </div>
    <br>
    <h6 style="width: 80%; margin:0 auto;">* Indicates required</h6>
    <br>
    <p style="width: 80%; margin:0 auto;">Enter details</p>
    <br>
    <input type="text" placeholder="skill">
    <br>
    <button class="formbtn" type="submit" value="submit" style="float:right; padding:0.5em; width:100px; margin: 0 auto; border-radius:50px;">Save</button>
</form>

<form action="#" method="post" class="hide" id="editinfo" style="border-radius: 10px;">
    <div style="background-color: white; border-radius: 10px;">
        <h3 class="formTitle">Edit Information</h3>
        <button class="formbtn" type="button" style="float:right; padding: 0.2em 0.4em; height:100%; margin-right:2em;" onclick="closeEditInfoForm();">Exit</button>
    </div>
    <br>
    <h6 style="width: 80%; margin:0 auto;"> * Indicates required</h6>
    <br>
    <p style="width: 80%; margin:0 auto;">Enter details</p>
    <br>
    <input type="text" name="firstname" placeholder="First name">
    <br>
    <input type="text" name="lastname" placeholder="Last name">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="text" name="location" placeholder="Location">
    <br>
    <input type="text" name="level" placeholder="Level">
    <br>
    <input type="text" name="experience" placeholder="Experience">
    <br>
    <button class="formbtn" type="submit" value="submit" style="float:right; padding:0.5em; width:100px; margin: 0 auto; border-radius:50px;">Save</button>
</form>

<div class="backlayout" id="backlayout">
    <header>
        <div id="testcolor" class="contain" th:style="|background: ${color};|">
            <div class="headerDiv">
                <div class="center">
                    <form id="svimg" th:action="@{/user/save/image}" method="post" enctype="multipart/form-data">
                        <label>
                            <img id="userimg" class="default" th:src="@{${member.image}}"/>
                            <input type="file" accept="image/*" name="file" onchange="userAction()" style="display:none">
                        </label>
                    </form>
                </div>
                <div class="player">
                    <div class="leftInfo rightInfo">
                        <label>Position</label>
                        <label>Years Experience</label>
                        <label>Blank</label>
                        <label>Blank</label>
                    </div>

                    <div th:object="${member}" class="leftInfo">
                        <label th:text="*{firstName}">First Name</label>
                        <label th:text="*{lastName}">Last Name</label>
                        <label th:text="*{getEmail}">Email</label>
                        <label th:text="*{location}">Location</label>
                    </div>
                </div>

                <div class="profileEditButton">
                    <button style="width:100%; height:100%;" type="button" onclick="openEditInfoForm()">Edit profile</button>
                </div>

                <div class="bgColorEdit">
                    <div class="show" id="emptypanel">
                    </div>

                    <form action="#" th:action="@{/user/setcolor}" th:object="${member}" method="post" class="hide" id="colorpanel">
                        <input type="hidden" th:field="*{color}" id="setc">
                        <button type="button" onclick="setColor('#cad07c');" style="background:#cad07c;"></button>
                        <button type="button" onclick="setColor('red');" style="background:red;"></button>
                        <button type="button" onclick="setColor('cyan');" style="background:cyan;"></button>
                        <button type="button" onclick="setColor('purple');" style="background:purple;"></button>
                    </form>

                    <div class="showColorButton">
                        <button style="width:100%; height:100%;" type="button" onclick="showcolors('colorpanel', 'emptypanel')">Color</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="navb">
            <div id="prof" class="flexlist"><a href="/user/profile">Profile</a></div>
            <div id="cv" class="flexlist active"><a class="active" href="/user/cv">CV</a></div>
            <div class="flexlist"><a href="/user/projects">Projects</a></div>
            <div class="flexlist"><a href="/user/learn">Learn</a></div>
            <div id="notifcv" class="flexlist"><a href="/user/messages">Messages</a></div>
            <div class="flexlist"><a href="/user/about">About</a></div>
            <div class="flexlist"><a href="/logout">Logout</a></div>
        </div>

        <div style="display:flex; flex-direction:row;">
            <div class="test">
                <div style="min-width: 250px; min-height: 250px; height:auto; padding: 10px 0; margin: 1em 1em 0 0; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h4>External Websites</h4><br>
                    <h5>Add links to external websites</h5>
                    <h6>example: github</h6>
                    <div>
                        <div>
                            <label>Add link:</label><br>
                            <input style="border: 1px solid black;" type="url" name="url">
                        </div><br>

                        <div>
                            <label>Add link</label><br>
                            <input style="border: 1px solid black;" type="url" name="url">
                        </div>
                    </div>
                </div>
                <div id="navbar" style="min-width: 250px; min-height: 300px; height:auto; padding: 10px 0; margin: 1em 1em 0 0;  background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h4>Content</h4>
                </div>
            </div>

            <div class="makebig">
                <div style="width: 100%; min-height: 150px; height:auto; padding: 10px 0; margin-top: 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h2  style="border-bottom:1px solid black; width:90%; margin:0 5%;">Personal Information</h2><br>
                    <div th:if="${member.message==null}" style="width:90%; margin:0 5%;">
                        <h4>Give possible employers a quick summary of yourself.</h4><br>
                        <p>This can help potential employers determine if you might be a good candidate.</p>
                    </div>
                    <div th:if="${member.message!=null}" style="width:90%; margin:0 5%;">
                        <p th:object="${member}" th:text="*{message}">Message</p>
                    </div><br>
                    <button style="margin-left:5%; padding: 1em 1em;" class="btn" type="button" value="submit" onclick="openForm()">Add personal statement</button>
                </div>

                <div style="width: 100%; min-height: 150px; height:auto; padding: 10px 0; margin-top: 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h2  style="border-bottom:1px solid black; width:90%; margin:0 5%;">Education</h2><br>
                    <div th:if="${member.education.isEmpty()}" style="width:90%; margin:0 5%;" >
                        <h4>Add details about your education.</h4><br>
                        <p>This will help employers decided what role to offer you.</p>
                    </div>
                    <div th:if="${!member.education.isEmpty()}" style="width:90%; margin:0 5%;">
                        <div th:each="education : ${member.getEducation()}" style="border: 1px dashed black; margin-bottom:1em;">
                            <button type="button" th:data-longDescription="${education}" onclick="editEducationForm(this.getAttribute('data-longDescription'));" style="color:white; background-color: black;">Edit</button><br>
                            <label th:text="*{education.universityLocation}">universityLocation</label><br>
                            <label th:text="*{education.yearStarted}">yearStarted</label><br>
                            <label th:text="*{education.yearEnded}">yearEnded</label><br>
                            <label th:text="*{education.courseStudied}">courseStudied</label><br>
                            <label th:text="*{education.degreeLevel}">degreeLevel</label><br>
                            <label th:text="*{education.resultsAchieved}">resultsAchieved</label>
                        </div>
                    </div><br>
                    <button class="btn" type="button" value="submit" style="margin-left:5%; padding: 1em 1em;" onclick="openEducationForm();">Education Info</button>
                </div>

                <div style="width: 100%; min-height:150px; height:auto; padding: 10px 0; margin-top: 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h2  style="border-bottom:1px solid black; width:90%; margin:0 5%;">Previous Experience</h2><br>
                    <div th:if="${member.experiences.isEmpty()}" style="width:90%; margin:0 5%;">
                        <h4>Add details about your previous experience.</h4><br>
                        <p>
                            This gives potential employers information about your job history and what role might be best suited
                            to your skillset.
                        </p>
                    </div>
                    <div th:if="${!member.experiences.isEmpty()}" style="width:90%; margin:0 5%;">
                        <div th:each="job : ${member.getExperiences()}" style="border: 1px dashed black; margin-bottom:1em;">
                            <button type="button" th:data-longDescription="${job}" onclick="editExperienceForm(this.getAttribute('data-longDescription'));" style="color:white; background-color: black;">Edit</button><br>
                            <label th:text="*{job.companyName}">companyName</label><br>
                            <label th:text="*{job.jobTitle}">jobTitle</label><br>
                            <label th:text="*{job.yearStarted}">yearStarted</label><br>
                            <label th:text="*{job.yearEnded}">yearEnded</label><br>
                            <label th:text="*{job.location}">degreeLevel</label>
                        </div>
                    </div><br>
                    <button class="btn" type="button" value="submit" style="margin-left:5%; padding: 1em 1em;" onclick="openExperienceForm()">Add experience</button>
                </div>

                <div style="width: 100%; min-height: 150px; height:auto; padding: 10px 0; margin-top: 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h2 style="border-bottom:1px solid black; width:90%; margin:0 5%;">Programming Languages - Frontend</h2><br>
                    <div th:if="${member.languages.isEmpty()}" style="width:90%; margin:0 5%;">
                        <h4>Known programming languages.</h4><br>
                        <p>Include known programming languages and how many years experience.</p>
                    </div><br>
                    <div th:if="${!member.languages.isEmpty()}" style="width:90%; margin:0 5%;">
                        <button type="button" style="color:white; background-color: black; margin-bottom:0.2em;">Edit</button><br>
                        <div th:each="l : ${member.getLanguages()}" style="border: 1px dashed black; margin-bottom:0.2em;">
                            <label th:text="*{l.language}">universityLocation</label><br>
                            <label th:text="*{l.yearsExperience}">yearStarted</label><br>
                        </div>
                    </div><br>
                    <button class="btn" type="button" value="submit" style="margin-left:5%; padding: 1em 1em;" onclick="openLanguageForm()">Add programming languages</button>
                </div>

                <div style="width: 100%; min-height: 150px; height:auto; padding: 10px 0; margin-top: 1em; margin-bottom:1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h2  style="border-bottom:1px solid black; width:90%; margin:0 5%;">Job Related Skills</h2><br>
                    <div style="width:90%; margin:0 5%;">
                        <h4>Add job related skills.</h4><br>
                        <p>What skills make you stand out</p>
                    </div><br>
                    <button class="btn" type="button" value="submit" style="margin-left:5%; padding: 1em 1em;" onclick="openSkillsForm()">Add skills</button>
                </div>
            </div>

            <div class="test">
                <div style="min-width: 250px; min-height: 250px; height:auto; padding: 10px 0; margin: 1em 0 0 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h4>Social Links</h4><br>
                    <h5>Add links to social sites</h5>
                    <h6>example: facebook</h6>
                    <div>
                        <div>
                            <label>Add link:</label><br>
                            <input style="border: 1px solid black;" type="url" name="url">
                        </div><br>

                        <div>
                            <label>Add link</label><br>
                            <input style="border: 1px solid black;" type="url" name="url">
                        </div>
                    </div>
                </div>
                <div style="min-width: 250px; min-height: 300px; height:auto; padding: 10px 0; margin: 1em 0 0 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                    <h4>Content</h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div style="display:flex;flex-direction:row; justify-content:center; align-items:center; height:100%;">
            <p style="margin-right:0.5em;"><a th:text="'Lekan Adams &#169; DevsHub ' + ${@timestamp}" href="">msg</a></p>
            <p style="margin-right:0.5em;"><a href="">Terms and conditions</a>
            <p><a href="">Privacy policy</a>
        </div>
    </footer>
</div>
</body>
</html>