<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevsHub</title>
        <link th:href="@{/css/messagestyle.css}" type="text/css" rel="stylesheet"/>
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/message.js}"></script>
    </head>

    <body>
        <div class="backlayout" id="backlayout">
            <header>
                <div class="headerDiv">
                    <div id="prof" class="flexlist"><a href="/user/profile">Profile</a></div>
                    <div id="cv" class="flexlist"><a href="/user/cv">CV</a></div>
                    <div class="flexlist"><a href="/user/projects">Projects</a></div>
                    <div class="flexlist"><a href="/user/learn">Learn</a></div>
                    <div id="notifications" class="flexlist active"><a class="active" href="/user/messages">Messages</a></div>
                    <div class="flexlist "><a href="/user/about">About</a></div>
                    <div class="flexlist"><a href="/logout">Logout</a></div>

                    <form class="stop">
                        <input type="search" name="search">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </header>

            <section>
                <div class="message">
                    <div id="memberNameView" class="memberNameDiv">
                        <div class="inboxDiv">
                            <label><h3>Inbox</h3></label>
                        </div>
                        <div class="searchDiv">
                            <div style="display:flex;">
                                <div>
                                    <div>
                                        <input class="inputSize" type="search" name="search" id="namesearch" autocomplete="off">
                                    </div>
                                    <div id="showMems" class="hide">

                                    </div>
                                </div>
                                <button type="button" onclick="showMessageMobile()">Search</button>
                            </div>
                        </div>
                        <div id="memName" class="showMemberName">
                            <div th:if="${user!=null}" class="buttdiv">
                                <button th:text="${user}" class="buttclass" type="button" th:data-longDescription="${user}" onclick="showMessageDiv(this.getAttribute('data-longDescription'));">Name</button>
                                <button type="button" class="messgeDelete">X</button>
                            </div>
                            <div th:if="${!allusers.isEmpty()}" th:each="user: ${allusers}" class="buttdiv">
                                <button th:text="${user}" class="buttclass" type="button" th:data-longDescription="${user}" onclick="showMessageDiv(this.getAttribute('data-longDescription'));">Name</button>
                                <button type="button" class="messgeDelete">X</button>
                            </div>
                        </div>
                    </div>

                    <div id="myView" class="memberMessageDiv">
                        <div class="messageDiv">
                            <label style="float:left;"><h3>Messages</h3></label>
                            <button type="button" onclick="hideMessageMobile()" class="backBtnMobile">Back</button>
                        </div>

                        <div>
                            <form action="#" th:action="@{/user/sendMessage}" method="post" th:object="${newMessage}" id="subform">
                                <div class="messages">
                                    <div class="inputDiv">
                                        <div>
                                            <input class="messageInput" type="search" th:value="${senderName}" th:field="*{sender}" id="sndname" disabled>
                                        </div>
                                        <div style="margin-left:5px;">
                                            <div>
                                                <input class="messageInput" type="search" name="search" th:field="*{receiver}" id="rcvname" disabled>
                                            </div>
                                            <div id="showNames" class="hide">

                                            </div>
                                        </div>
                                    </div>

                                    <div id="currView" class="loadMessage">
                                        <div th:if="${user!=null}" th:id="${user}" class="show">
                                            <div th:each="message : ${userMsg}" class="msgflow">
                                                <div th:each="member : ${mems}" th:class="'imgflow '+${user==message.sender ? 'imgright' : 'imgflow'}">
                                                    <img th:if="${message.sender == member.email}"  th:src="@{${member.image}}" class="imgstyle">
                                                </div>
                                                <div th:class="'flow '+${user==message.sender ? 'flowright' : 'flow'}">
                                                    <label><h3 th:text="|Received: ${message.date}|">Message</h3></label>
                                                    <label><h3 th:text="|From: ${message.sender}|">Message</h3></label>
                                                    <label><h3 th:text="|To: ${message.receiver}|">Message</h3></label>
                                                    <label><h3 th:text="|${message.message}|">Message</h3></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div th:if="${!allusers.isEmpty()}" th:each="user: ${allusers}" th:id="${user}" class="hide">
                                            <div th:each="message : ${map.get(user)}" class="msgflow">
                                                <div th:each="member : ${mems}" th:class="'imgflow '+${user==message.sender ? 'imgright' : 'imgflow'}">
                                                    <img th:if="${message.sender == member.email}"  th:src="@{${member.image}}" class="imgstyle">
                                                </div>
                                                <div th:class="'flow '+${user==message.sender ? 'flowright' : 'flow'}">
                                                    <label><h3 th:text="|Received: ${message.date}|">Message</h3></label>
                                                    <label><h3 th:text="|From: ${message.sender}|">Message</h3></label>
                                                    <label><h3 th:text="|To: ${message.receiver}|">Message</h3></label>
                                                    <label><h3 th:text="|${message.message}|">Message</h3></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="textDiv">
                            <textarea th:field="*{message}" id="dmsg" style="border:1px solid black;"></textarea>
                            <button type="button" onclick="postform();">Send</button>
                        </div>
                    </div>
                </div>
            </section>

            <textmobile>
                <div class="formobile" id="formmobile">
                    <textarea th:field="*{message}" id="hmsg" style="border:1px solid black;"></textarea>
                    <button type="button" onclick="postform();">Send</button>
                </div>
            </textmobile>

            <footer>
                <div style="display:flex;flex-direction:row; justify-content:center; align-items:center; height:100%;">
                    <p style="margin-right:0.5em;"><a th:text="'Lekan Adams &#169; DevsHub ' + ${@timestamp}" href="">msg</a></p>
                    <p style="margin-right:0.5em;"><a href="">Terms and conditions</a>
                    <p><a href="">Privacy policy</a>
                </div>
            </footer>
        </div>
    </body>
</html>