<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>DevsHub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/messagestyle.css}" type="text/css" rel="stylesheet"/>
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/message.js}"></script>
    </head>

    <body>
        <div class="backlayout" id="backlayout">
            <header>
                <div style="z-index:1; position:fixed; width:1200px; background-color: black; margin-top:0em; border: 1px solid #d9d9d9; display:flex; flex-direction:row; justify-content: center;">
                    <div id="prof" class="flexlist"><a href="/user/profile">Profile</a></div>
                    <div id="cv" class="flexlist"><a href="/user/cv">CV</a></div>
                    <div class="flexlist"><a href="/user/projects">Projects</a></div>
                    <div class="flexlist"><a href="/user/learn">Learn</a></div>
                    <div id="notifications" class="flexlist active"><a class="active" href="/user/messages">Messages</a></div>
                    <div class="flexlist "><a href="/user/about">About</a></div>
                    <div class="flexlist"><a href="/logout">Logout</a></div>

                    <form class="stop">
                        <input type="search" name="search">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </header>

            <section>
                <div class="message">
                    <div style="width:30%; height:100%; border: 1px solid black; display:flex; flex-direction:column;">
                        <div style="height:50px; width:100%; border-bottom: 1px solid black;">
                            <label><h3>Inbox</h3></label>
                        </div>
                        <div style="height:50px; width:100%; border-bottom: 1px solid black; display:flex; align-items:center; justify-content:center;">
                            <label>
                                <input type="search" name="search">
                                <button>Search</button>
                            </label>
                        </div>

                        <div id="memName" class="showMemberName">
                            <div th:if="${user!=null}" class="buttdiv">
                                <button th:text="${user}" class="buttclass" type="button" th:data-longDescription="${user}" onclick="showMessageDiv(this.getAttribute('data-longDescription'));">Name</button>
                            </div>
                            <div th:if="${!allusers.isEmpty()}" th:each="user: ${allusers}" class="buttdiv">
                                <button th:text="${user}" class="buttclass" type="button" th:data-longDescription="${user}" onclick="showMessageDiv(this.getAttribute('data-longDescription'));">Name</button>
                            </div>
                        </div>

                    </div>

                    <div style="width:50%; height:100%; border: 1px solid black;">
                        <div style="height:50px; width:100%; border-bottom: 1px solid black;">
                            <label><h3>Messages</h3></label>
                        </div>
                        <form action="#" th:action="@{/user/sendMessage}" method="post" th:object="${newMessage}" id="subform">
                            <div style="max-height:740px; height:100%; width:100%; background:cyan;">
                                <div style="position:relative; border-bottom:1px solid black;">
                                    <input type="search" th:value="${senderName}" th:field="*{sender}" id="sndname">
                                    <input type="search" name="search" th:field="*{receiver}" id="rcvname">
                                </div>

                                <div id="currView" style="max-height:640px; overflow-x:auto; background:white">
                                    <div th:if="${user!=null}" th:id="${user}" class="show">
                                        <div th:each="message : ${userMsg}" class="flow">
                                            <label><h3 th:text="|Received: ${message.date}|">Message</h3></label>
                                            <label><h3 th:text="|From: ${message.sender}|">Message</h3></label>
                                            <label><h3 th:text="|To: ${message.receiver}|">Message</h3></label>
                                            <label><h3 th:text="|${message.message}|">Message</h3></label>
                                        </div>
                                    </div>

                                    <div th:if="${!allusers.isEmpty()}" th:each="user: ${allusers}" th:id="${user}" class="hide">
                                        <div th:each="message : ${map.get(user)}" class="flow">
                                            <label><h3 th:text="|Received: ${message.date}|">Message</h3></label>
                                            <label><h3 th:text="|From: ${message.sender}|">Message</h3></label>
                                            <label><h3 th:text="|To: ${message.receiver}|">Message</h3></label>
                                            <label><h3 th:text="|${message.message}|">Message</h3></label>
                                        </div>
                                    </div>
                                </div>

                                <div style="position:absolute; bottom:0; margin-bottom:0.2em;">
                                    <textarea th:field="*{message}" id="dmsg" style="border:1px solid black;" rows="4"></textarea>
                                    <button type="button" onclick="postform(event);">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <aside>
            </aside>

            <beside>

            </beside>

            <footer>
                <div style="display:flex;flex-direction:row; justify-content:center; align-items:center; height:100%;">
                    <p style="margin-right:0.5em;"><a th:text="'Lekan Adams &#169; DevsHub ' + ${@timestamp}" href="">msg</a></p>
                    <p style="margin-right:0.5em;"><a href="">Terms and conditions</a>
                    <p><a href="">Privacy policy</a>
                </div>
            </footer>
        </div>
    </body>
</html>