<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>DevsHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/passresetstyle.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<div class="backlayout">
  <leftheader>
    <a href="/devshub" class="flexit">
      <h2 class="left">Just4Devs</h2>
      <h2 class="right">Hub</h2>
    </a>
  </leftheader>
  <rightheader>
    <div class="list">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="home.html">About</a></li>
        <li><a href="">Contributors</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </div>
  </rightheader>

  <section>
    <div id="details">
      <div class="expand rempad">
        <h2>Unable to log in?</h2>
        <h4>Enter email to get a link to reset your account password.</h4>
      </div>

      <div class="expand">
        <input type="text" placeholder="Enter username or email">
      </div>

      <div class="expand" style="display: none;">
        <input type="password" placeholder="Password">
      </div>

      <div class="expand">
        <button type="submit" class="sub">Send reset link to email</button>
      </div>

      <div class="strike expand" style="display: none;">
        <span>or</span>
      </div>

      <div class="expand" style="display: none;">
        <h1>Already have an account?<a href="http://localhost:8080/devshub">Sign in</a></h1>
      </div>

      <div class="expand">
        <button type="submit" class="sub padded">Back to home</button>
      </div>
    </div>
  </section>

  <aside>
    <div class="block">
      <div class="flextoo">
        <h2 class="left" style="background-color: whitesmoke; color: red;">Devs</h2>
        <h2 class="right" style="box-shadow: none">Hub</h2>
      </div>
      <div class="motto">
        <h2>Join a global network of young talented developers and find the perfect career for you</h2>
      </div>
    </div>
  </aside>

  <footer>
    <p>Lekan Adams &#169; DevsHub 2022</p>
  </footer>
</div>
</body>

</html>