<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevsHub</title>
    <link th:href="@{/css/profstyle.css}" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
    <script type="text/javascript" th:src="@{/js/sticky.js}"></script>
</head>

<body>
    <div style="display:flex; flex-direction:column;">
        <div style="position:fixed; z-index:2; width:100vw; background-color:black; border: 1px solid #d9d9d9; display:flex; flex-direction:row; justify-content:center; 	font-family: Arial, Helvetica, sans-serif;">
            <div id="prof" class="flexlist active"><a class="active"  href="/user/profile">Profile</a></div>
            <div id="cv" class="flexlist"><a href="/user/cv">CV</a></div>
            <div class="flexlist"><a href="/user/projects">Projects</a></div>
            <div class="flexlist"><a href="/user/learn">Learn</a></div>
            <div class="flexlist"><a href="/user/messages">Messages</a></div>
            <div class="flexlist"><a href="/user/about">About</a></div>
            <div class="flexlist"><a href="/devshub">Logout</a></div>

            <form class="stop">
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="backlayout" id="backlayout">
            <header>
                <div id="profcolor" class="contain" style="border-radius:10px; border: 1px solid #d9d9d9; margin-top:4em; text-align: center; background-color: #dfb9de; position:relative;">
                    <div style="width: 600px; margin: auto;">
                        <div class="center">
                            <form id="vim" th:action="@{/profile/save/image}" method="post" enctype="multipart/form-data">
                                <label>
                                    <img id="userim" class="default" th:src="@{${member.image}}"/>
                                    <input type="file" accept="image/*" name="file" onchange="profImage()" style="display:none">
                                </label>
                            </form>
                        </div>
                        <div class="player">
                            <div style="width: 200px; height:100%; float:right; background-color:black; border-top-right-radius:40px; display:flex; flex-direction:column; justify-content:space-evenly;">
                                <label>Position</label>
                                <label>Years Experience</label>
                                <label>Blank</label>
                                <label>Blank</label>
                            </div>

                            <div th:object="${member}" style="width: 200px; height:100%; background-color:black; border-top-left-radius:40px; display:flex; flex-direction:column; justify-content:space-evenly;">
                                <label th:text="*{firstName}">First Name</label>
                                <label th:text="*{lastName}">Last Name</label>
                                <label th:text="*{getEmail}">Email</label>
                                <label th:text="*{location}">Location</label>
                            </div>
                        </div>
                    </div>

                    <div style="background:black; position:absolute; right:0; bottom:0; display:flex; flex-direction:column; height:25px; opacity:0.5">
                        <button style="width:100%; height:100%;" type="button" onclick="">Edit profile</button>
                    </div>

                    <div style="background:inherit; height:50px; width:100px; position:absolute; right:0; top:0; display:flex; flex-direction:row; justify-content:flex-end;">
                        <div class="show" id="emptypan">

                        </div>

                        <div class="hide" id="colorpan">
                            <button type="button" onclick="changeBackGroundColour('#cad07c');" style="background:#cad07c;"></button>
                            <button type="button" onclick="changeBackGroundColour('red');" style="background:red;"></button>
                            <button type="button" onclick="changeBackGroundColour('cyan');" style="background:cyan;"></button>
                            <button type="button" onclick="changeBackGroundColour('purple');" style="background:purple;"></button>
                        </div>

                        <div style="height: 25px; width:50px; background:#351717; opacity:0.5;">
                            <button style="width:100%; height:100%;" type="button" onclick="showcolorsProfile()">Color</button>
                        </div>
                    </div>
                </div>
            </header>

            <section>
                <div style="display:flex; flex-direction:row;">
                    <div>
                        <div style="width:250px; height:300px; padding: 10px 0; margin: 1em 1em 0 0; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                            <h3>Top 5 Industry Tools</h3><br>
                            <ul>
                                <li><a href="">Github</a></li>
                                <li><a href="">Gerrit</a></li>
                                <li><a href="">Jenkins</a></li>
                                <li><a href="">Docker</a></li>
                                <li><a href="">Maven</a></li>
                            </ul>
                        </div>
                        <div id="navbar" class="" style="width:250px; height:300px; padding: 10px 0; margin: 1em 1em 0 0;  background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                            <h3>Daily Challenges</h3><br>
                            <h5>Improve your coding skills by trying these challenges</h5><br>
                            <ul>
                                <li><a href="">Challenge One</a> </li><br>
                                <li><a href="">Challenge Two</a> </li><br>
                                <li><a href="">Challenge Three</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; margin-top: 1em; background-color: whitesmoke; border-radius:10px; width:700px;">
                        <div th:if="${!articles.isEmpty()}" th:each="article : ${articles}"  style="width:100%; min-height:200px; margin-bottom:0.5em; height:auto; background-color:white; border-radius:10px; border:1px solid #d9d9d9;">
                            <div style="border-bottom: 1px solid  #d9d9d9; margin-bottom:0.5em; height: 2em; border-top-left-radius:10px; border-top-right-radius:10px;">
                                <h3 th:text="*{article.title}">Dynamic content title/Articles</h3>
                            </div>

                            <div style="margin-bottom:0.5em; height: 1.5em;">
                                <h6 th:text="*{article.description}">Dynamic content description link</h6>
                            </div>

                            <div style="height:4em;">
                                <a th:text="*{article.link}" th:href="@{${article.link}}">Content area/Image. Clickable link</a>
                            </div>

                            <div style="border-bottom:1px solid #d9d9d9; height:6em; background:pink;">
                                <h2>Comment Section</h2>
                                <div>
                                    <input type="text" name="comments">
                                    <button>Post</button>
                                </div>
                                <label><h5>User comments</h5></label>
                            </div>

                            <div style="display:flex;">
                                <form class="react" action="#" th:action="@{/article/addlike}" method="post">
                                    <label style="margin-right:2px;" th:if="${article.likes != 0}" th:text="*{article.likes}">0</label>
                                    <button type="submit">Helpful?</button>
                                </form>
                                <div class="react">
                                    <button>Rate</button>
                                </div>
                                <div class="react" style="border:none;">
                                    <button>Share</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div style="width: 250px; height:300px; 10px 0; margin: 1em 0 0 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                            <div>
                                <h2 style="border-bottom: 1px solid whitesmoke;">Reading Material</h2>
                                <h4>Books worth reading</h4>
                            </div>
                            <ul>
                                <li>
                                    <h4><a href="" >Clean code</a></h4>
                                    <h5>
                                        <a href="" >
                                            A Handbook of Agile Software Craftsmanship,<br> by
                                            (Robert C. Martin)
                                        </a>
                                    </h5>
                                </li>
                                <li>
                                    <h4><a href="">Design Patterns</a></h4>
                                    <h5>
                                        <a href="">
                                            Elements of ReusableObject-Oriented Software,<br> by
                                            (Gamma Erich, Helm Richard, Johnson Ralph, Vlissides John)
                                        </a>
                                    </h5>
                                </li>
                                <li>
                                    <h4><a href="">The Pragmatic Programmer</a></h4>
                                    <h5>
                                        <a href="">
                                            by, (Andrew Hunt, David Thomas)
                                        </a>
                                    </h5>
                                </li>
                            </ul>
                        </div>
                        <div style="width:250px; height:300px; padding: 10px 0; margin: 1em 0 0 1em; background-color: white; border-radius: 10px; border: 1px solid #d9d9d9;">
                            <h3>Analytics</h3><br>
                            <div style="width:150px: height:150px; margin:0 25px; ">
                                <h4><a href="">Profile Views</a></h4><br>
                                <h5><a href="">See who view your profile</a> </h5>
                            </div>
                            <br>
                            <h3>Activity</h3><br>
                            <div style="width:150px: height:150px; margin:0 25px; ">
                                <h4><a href="">Recent activities</a></h4><br>
                                <h5><a href="">Accomplishments</a> </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <aside>

            </aside>

            <beside>

            </beside>

            <footer>
                <div style="display:flex;flex-direction:row; justify-content:center; align-items:center; height:100%;">
                    <p style="margin-right:0.5em;"><a th:text="'Lekan Adams &#169; DevsHub ' + ${@timestamp}" href="">msg</a></p>
                    <p style="margin-right:0.5em;"><a href="">Terms and conditions</a>
                    <p><a href="">Privacy policy</a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>