<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>DevsHub</title>
  <link th:href="@{/css/projstyle.css}" type="text/css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<div class="backlayout" id="backlayout">
  <header>
    <div class="headerDiv">
      <div id="prof" class="flexlist"><a href="/user/profile">Profile</a></div>
      <div id="cv" class="flexlist"><a href="/user/cv">CV</a></div>
      <div class="flexlist active"><a class="active" href="/user/projects">Projects</a></div>
      <div class="flexlist"><a href="/user/learn">Learn</a></div>
      <div class="flexlist"><a href="/user/messages">Messages</a></div>
      <div class="flexlist"><a href="/user/about">About</a></div>
      <div class="flexlist"><a href="/logout">Logout</a></div>

      <form class="stop">
        <input type="text" name="search">
        <button type="submit">Search</button>
      </form>
    </div>
  </header>

  <section>
    <div class="proj">
      <button style="width:100%; height:100%; padding:10px 0;" onclick="dropDown();">Add project (Dropdown)</button>
    </div>

    <div id="dropdownmenu" class="hide">
      <form action="#" th:action="@{/projects/save/project}" name="subform" method="post" id="addProject" th:object="${project}" enctype="multipart/form-data">
        <h2 class="exempt" style="border:none;">Add project</h2>
        <input class="exempt" th:field="*{title}" type="text">
        <textarea class="exempt" th:field="*{description}" rows="4"></textarea>

        <select class="exempt" onchange="addProgrammingLanguages(this, 'dropId', 'langtxt');">
          <option value="Select">Select languages *</option>
          <option value="Java">Java</option>
          <option value="Javascript">Javascript</option>
          <option value="Python">Python</option>
          <option value="C">C</option>
          <option value="C#">C#</option>
        </select>
        <div class="exempt" id="dropId" style="max-width:80%; border:none; height:auto; display:flex; flex-direction:row; gap:5px; flex-wrap:wrap;">

        </div>
        <input id="langtxt" type="hidden" th:field="*{language}">

        <select class="exempt" onchange="addProgrammingLanguages(this, 'toolId', 'techtxt');">
          <option value="Select">Select Technologies *</option>
          <option value="Github">Github</option>
          <option value="Docker">Docker</option>
          <option value="Agile">Agile</option>
          <option value="REST">Rest</option>
        </select>
        <div class="exempt" id="toolId" style="max-width:80%; border:none; height:auto; display:flex; flex-direction:row; gap:5px; flex-wrap:wrap;">

        </div>
        <input id="techtxt" type="hidden" th:field="*{technology}">

        <input class="exempt" type="hidden" th:field="*{video}" id="setVidName">
        <input class="exempt" type="file" id="vidName" accept="video/mp4" name="file" onchange="setNameVar(this);">
        <button class="exempt" type="button" onclick="submitForm();">Save project</button>
      </form>
    </div>

    <div th:if="${myprojects.isEmpty()}" class="emptyProj">
      <div class="projItem">
        <h4>Add a project</h4>
        <h5>Projects can be any project you have worked on or developed</h5>
        <h5>The preferred option is to use a project you created yourself</h5>
        <h5>Size of video should be no more than 50mb</h5>
        <br>
        <h4>Need project ideas?</h4>
        <h5>Check out these project ideas</h5>
        <br>
        <div>
          <a style="width:auto; padding:15px 5px; border:1px solid black;" href="">Get inspired</a>
        </div>
      </div>
    </div>

    <div class="mainDiv">
      <div th:if="${!myprojects.isEmpty()}" th:each="project : ${myprojects}" class="detailDiv">
        <div class="details">
          <h2 class="project detailsTitle" th:text="*{project.title != ''}? *{project.title} : 'Project Title'">Project Title</h2>
          <h4 class="project" style="height:auto;" th:text="*{project.description != ''}? *{project.description} : 'Project Description'"> Project Description</h4>

          <div th:if="${project.language==''}" class="project" style="height: 100px;">
            <label>Programming Languages used</label>
          </div>
          <div th:if="${project.language != ''}" class="project" style="height: auto;">
            <label>Languages</label>
            <ul>
              <li  th:each="language : ${project.getLanguages()}" th:text="*{language}">Programming Languages used</li>
            </ul>
          </div>

          <div th:if="${project.technology != ''}" class="project" style="height:auto;">
            <label>Technologies</label>
            <ul>
              <li th:each="technology : ${project.technologies}" th:text="*{technology}">Technologies used</li>
            </ul>
          </div>
          <div th:if="${project.technology == ''}" class="project" style="height:100px;">
            <label>Technologies used</label>
          </div>
        </div>


        <div class="videoDiv">
          <video style="background-color:black;" width="100%" height="100%" controls autoplay>
            <source th:src="@{${project.video}}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div style="display:flex;flex-direction:row; justify-content:center; align-items:center; height:100%;">
      <p style="margin-right:0.5em;"><a th:text="'Lekan Adams &#169; DevsHub ' + ${@timestamp}" href="">msg</a></p>
      <p style="margin-right:0.5em;"><a href="">Terms and conditions</a>
      <p><a href="">Privacy policy</a>
    </div>
  </footer>
</div>
</body>
</html>